@use "../abstracts/" as *;
@use "../base/" as *;
.option__promotion {
  @include flex-row($align: stretch);
  gap: 2rem;
  margin-bottom: 5rem;
  @include ipad {
    transform: translateY(-50%);
    margin-bottom: 0;
  }

  .promotionItem {
    @include flex-row($justify: center);
    gap: 2rem;
    @include mobile {
      gap: 1rem;
    }
    background-color: #fff;
    flex: 1 1;
    border-radius: 1rem;
    padding: 1.5rem 0;
    img {
      width: 7.5rem;
      object-fit: cover;
    }
    span {
      font-size: 2rem;
      @include mobile {
        font-size: 1.8rem;
      }
      font-weight: 700;
      color: $clr-text-black;
    }
  }
}
