@use "../abstracts/" as *;
@use "../base/" as *;
.single__product-main {
  @include flex-row($wrap: nowrap, $align: flex-start);
  gap: 3rem;
  width: 100%;
  @include mobile {
    flex-direction: column;
  }
  @include tablet {
    flex-direction: column;
  }
  @include ipad {
    flex-direction: column;
  }
  .single__product-left {
    flex: 3;
    @include mobile {
      width: 100%;
    }
    @include tablet {
      width: 100%;
    }
    @include ipad {
      width: 100%;
    }
    @include destop {
      width: 50%;
      flex: 2;
    }
  }
  .single__product-right {
    flex: 2;
    @include tablet {
      width: 100%;
    }
    @include destop {
      width: 50%;
    }
  }
}
