@use "../base/" as *;
@use "../abstracts/" as *;
@use "swiper/css/navigation";
@use "swiper/css/pagination";
.mySwiper {
  height: 100%;
  position: relative;
  overflow: hidden;
  margin: 0 auto;
  // width: 120rem;
  transform: translateY(-50%);
  @include mobile {
    width: 100%;
    transform: translateY(0);
  }
  @include tablet {
    width: 100%;
    transform: translateY(0);
  }
  @include ipad {
    width: 100%;
  }
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  box-sizing: border-box;
  border-radius: 1rem;
  width: 50%;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 1rem;
}
.swiper-button-prev,
.swiper-button-next {
  width: 4rem;
  height: 4rem;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 100%;
  box-shadow: 6px 0 4px rgb(0 0 0 / 5%), 4px 0 4px rgb(0 0 0 / 9%);
  z-index: 999;
  &::after {
    font-size: 2rem;
    font-weight: 700;
    color: $Stark-Electric-1-hex;
  }
  &:hover {
    background-color: rgba(255, 255, 255, 0.5);
    &::after {
      font-size: 2rem;
      font-weight: 700;
      color: $Stark-Electric-3-hex;
    }
  }
}
.mySwiperPay {
  transform: translateY(0%);
  margin-bottom: 5rem;
}
.mySwiperProductImage {
  transform: translateY(0%);
  width: 75rem;
  @include mobile {
    width: 100%;
  }
  @include destop {
    width: 100%;
  }
  margin-bottom: 5rem;
  .swiper-slide {
    border-radius: 0;
    padding: 2rem;
    @include mobile {
      padding: 0;
    }
    @include tablet {
      padding: 0;
    }
    img {
      display: block;
      width: 40rem;
      height: auto;
      object-fit: cover;
      @include mobile {
        width: 100%;
      }
      @include tablet {
        width: 100%;
      }
    }
  }
  .swiper-pagination {
    position: absolute;
    bottom: 0px !important;
    right: 10px;
    width: auto !important;
    left: auto !important;
    margin: 0;
    padding: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
  }

  .swiper-pagination-bullet {
    width: 4rem;
    height: 4rem;
    border-radius: 0;
    background-color: $clr-bg-one;
    margin-right: 2rem;
    img {
      width: 100%;
      object-fit: cover;
      display: block;
    }
  }
}
