@use "../abstracts/" as *;
@use "../base/" as *;

.add__to-cart {
  width: 50%;
  @include mobile {
    width: 90%;
  }
  @include tablet {
    width: 70%;
  }
  @include ipad {
    width: 80%;
  }
  height: auto;
  background-color: #fff;
  padding: 2rem;
  position: relative;
  margin-top: 5rem;
  margin-bottom: 5rem;
  .close {
    position: absolute;
    top: 1rem;
    right: 1rem;
    i {
      font-size: 2rem;
      font-weight: 600;
    }
  }
  @include flex-col($justify: flex-start);
  .product__info-container {
    @include flex-row($align: flex-start, $wrap: nowrap);
    gap: 2rem;
    width: 100%;
    border-bottom: 1px solid $clr-bg-one;
    padding-bottom: 1.5rem;
    .image__container {
      flex: 1;
      img {
        width: 100%;
        object-fit: cover;
        display: block;
      }
    }
    .product__info {
      flex: 4;
      @include flex-col();
      gap: 1rem;
      h1 {
        font-size: 1.8rem;
        font-weight: 600;
        color: $clr-text-gray;
      }
      .promotion__info {
        h2 {
          margin-bottom: 0.5rem;
          color: $clr-text-blue;
        }
        p {
          color: $clr-text-gray;
          font-size: 1.4rem;
          line-height: 1.8rem;
        }
      }
      .price {
        color: $clr-text-blue;
      }
      .discount {
        b {
          color: $clr-text-red;
        }
      }
      .remain {
        font-size: 2rem;
        font-weight: 600;
        color: $clr-text-blue;
      }
      .provisional {
        width: 100%;
        @include flex-row();
        span:nth-child(2) {
          font-weight: 600;
          color: $clr-text-blue;
        }
      }
    }
  }

  .customer__info-container {
    width: 100%;
    padding: 1rem 0;
    .title {
      margin-bottom: 0.5rem;
      color: $clr-text-blue;
      margin-bottom: 1rem;
    }
    .customer__info-form {
      @include flex-col($align: flex-start, $justify: flex-start);
      gap: 1rem;
      width: 100%;
      margin-bottom: 1rem;
      .form__group {
        width: 100%;
        &:nth-child(1) {
          @include flex-row($justify: flex-start);
          gap: 2rem;
        }
        &:nth-child(4) {
          @include flex-row($justify: flex-start);
          gap: 2rem;
        }
        .radio__item {
          @include flex-row();
        }
        input[type="radio"] {
          appearance: none;
          width: 16px;
          height: 16px;
          border: 1px solid #ccc;
          border-radius: 50%;
          background-clip: content-box;
          padding: 1px;
          &:checked {
            background-color: $clr-bg-three;
          }
        }
        &:nth-child(2) {
          @include flex-row();
          gap: 2rem;
          width: 100%;
          input {
            flex: 1;
            padding: 1rem;
            border-radius: 5px;
            border: 1px solid #d1d1d1;
            text-transform: capitalize;
            outline: none;
          }
          input:focus {
            border: 1.5px solid $clr-text-blue;
          }
        }
      }
    }
  }
}
