@use "../abstracts/" as *;
@use "../base/" as *;

.add__to-cart {
  width: 33%;
  background-color: #fff;
  height: fit-content;
  border-radius: 5px;
  padding: 2rem;
  @include flex-col($justify: flex-start);
  gap: 2rem;
}
.top {
  position: relative;
  width: 100%;
  border-bottom: 1px solid #ccc;
  padding: 0 0 1rem 0;
  .title {
    font-size: 2rem;
    color: $clr-text-blue;
    margin-bottom: 1rem;
  }
}
.cancel {
  position: absolute;
  top: 0;
  right: 0;
  transform: translateY(-50%);
  cursor: pointer;
  i {
    font-size: 2.5rem;
    font-weight: 600;
  }
}
.center {
  width: 100%;
  @include flex-col();
  gap: 1rem;
  border-bottom: 1px solid #ccc;
  padding: 0 0 1rem 0;
}
.image__container {
  width: 10rem;
  padding: 0.5rem;
  border-radius: 3px;
  img {
    width: 100%;
    display: block;
  }
}
.group__options {
  @include flex-col();
  gap: 1rem;
}
.group__option {
  @include flex-col();
  gap: 1rem;
}
.group__option-item {
  @include flex-row();
  gap: 3rem;
}
.quantity {
  @include flex-row();
  gap: 2rem;
}

.bottom {
  @include flex-col();
  gap: 1rem;
  width: 100%;
}
.promotion-detail {
  position: relative;
  color: $clr-text-blue;
  margin-bottom: 1rem;
  cursor: pointer;
  &::after {
    @include tri-down();
    top: 13px;
    right: -18px;
  }
}
.promotion__wrapper {
  padding: 1rem;
  @include border();
  @include flex-col();
  gap: 1rem;
  display: none;
}
.collapse {
  position: relative;
  cursor: pointer;
  &::after {
    @include tri-up();
    top: 50%;
    transform: translateY(-50%);
    right: -20px;
  }
}
