@use "../abstracts/" as *;
@use "../base/" as *;

.order {
  width: 40%;
  @include mobile {
    width: 90%;
  }
  @include tablet {
    width: 70%;
  }
  @include ipad {
    width: 80%;
  }
  margin-bottom: 5rem;
  margin-top: 5rem;
  background-color: #fff;
  @include flex-col();
  gap: 1rem;
}
.order__main {
  padding: 2rem;
  width: 100%;
  @include flex-col();
  gap: 1rem;
  .order__item {
    width: 100%;
  }
}
.order__title-container {
  background-color: #b8f7d9;
  @include flex-row($justify: center);
  gap: 0.5rem;
  padding: 2rem;
  width: 100%;
  p {
    font-size: 2.4rem;
    color: #fff;
    font-weight: 600;
  }
  div {
    border-radius: 50%;
    background-color: #fff;
    width: 4rem;
    height: 4rem;
    @include flex-row($justify: center);
    i {
      font-size: 2rem;
      color: $clr-text-blue;
    }
  }
}
.order__info-container {
  @include flex-col();
  gap: 1.2rem;
  h2 {
    font-size: 1.8rem;
    strong {
      font-weight: 600;
    }
  }
}
.order__info-top {
  @include flex-row();
  width: 100%;
  .order__management {
    span {
      margin-right: 1rem;
      cursor: pointer;
      &:nth-of-type(1) {
        color: $clr-text-gray;
      }
      &:nth-of-type(2) {
        color: $clr-text-red;
      }
    }
  }
}
.order__info-bottom {
  @include flex-col();
  gap: 1rem;
  background-color: #eee;
  width: 100%;
  border-radius: 4px;
  padding: 1rem;
  label {
    font-weight: 600;
  }
}
.order__status-container {
  padding: 1rem;
  background-color: rgba(251, 110, 46, 0.05);
  color: $clr-text-blue;
  text-align: center;
  border: 1px dashed $clr-bg-three;
  border-radius: 3px;
  font-weight: 600;
}
.payment__method-container {
  @include flex-col();
  gap: 1rem;
  h2 {
    font-size: 1.8rem;
    color: $clr-text-blue;
    font-weight: 600;
  }
}
.payment__method-item {
    @include flex-row($justify: flex-start);
    gap: 0.5rem;
    .method {
      @include flex-row();
      .method__image {
        margin-right: 0.5rem;
        img {
          width: 2.4rem;
          object-fit: cover;
          display: block;
        }
      }
    }
  }
.policy {
    color: $clr-text-blue;
    margin: 0 auto;
    font-style: italic;
  }
.accept__button {
    width: 50%;
    margin: 0 auto;
    padding: 1rem;
    text-align: center;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1.8rem;
    font-weight: 600;
    margin-bottom: 1rem;
  }
.delivery__time-container {
  p {
    margin-bottom: 1rem;
  }
  .delivery__time {
    width: 100%;
    padding: 1rem;
    p {
      strong {
        color: $clr-text-blue;
        font-weight: 600;
      }
    }
    @include border();
    .order__item {
      padding: 1rem;
      @include flex-row($align: flex-start);
      gap: 1rem;
      .image__container {
        flex: 1;
        img {
          width: 100%;
          object-fit: cover;
          display: block;
        }
      }
      .info__container {
        flex: 6;
        h2 {
          color: $clr-text-blue;
          margin-bottom: 1rem;
        }
        span {
          margin-right: 2rem;
        }
      }
    }
  }
}
.buy__another-button {
  padding: 1rem;
  @include border();
  text-align: center;
  color: $clr-text-blue;
  background-color: #fff;
  border-radius: 5px;
  width: 100%;
  cursor: pointer;
}
.evaluation__customer-container {
  @include border();
  padding: 1rem;
  border-left: 4px solid $clr-bg-two;
  @include flex-row($align: flex-start);
  p {
    flex: 1;
  }
  .icon__container {
    flex: 1;
    @include flex-row();
    .icon {
      flex: 1;
      @include flex-col($align: center, $justify: center);
      gap: 1rem;
      i {
        font-size: 3rem;
        cursor: pointer;
      }
      .satisfy {
        color: $clr-text-blue;
      }
      .unsatisfied {
        color: $clr-text-red;
      }
    }
  }
}
