@use "../abstracts/" as *;
@use "../base" as *;

.vnpayresult {
  @include flex-col();
  gap: 2rem;
  width: 30%;
  margin: 4rem auto;
  padding: 2rem;
  @include border();
  @include m-shadow();
  background-color: #63880029;
  .infomation_item {
    @include flex-row();
    gap: 3rem;
    label {
      min-width: 12rem;
    }
  }
}
