@use "../abstracts/" as *;
@use "../base/" as *;
$dr_down_height: 2rem;
.dropdown__container {
  @include flex-row();
  gap: 1rem;
  border-radius: 4px;
}
.dropdown {
  width: calc(50% - 1rem);
  position: relative;
}
.dropdown-button {
  padding: 1rem;
  @include border();
  cursor: pointer;
  width: 100%;
  background-color: #fff;
  text-align: center;
  box-sizing: border-box;
  border-radius: 4px;
  position: relative;
  &:hover {
    background-color: #eee;
  }
}

.dropdown-content {
  position: absolute;
  top: 100%;
  background-color: #fff;
  width: 100%;
  max-height: 25rem;
  overflow-y: scroll;
  z-index: 999;
  border-radius: 4px;
  @include border();
  @include flex-col();
  display: none;
  gap: 5px;
  text-align: left;
}
.dropdown--active > {
  .dropdown-content {
    display: flex;
    @include m-shadow;
  }
}
.dropdown-item {
  width: 100%;
  padding: 1rem;
  &:hover {
    background-color: $clr-bg-one;
  }
}
.left {
  left: 0;
}
.right {
  right: 0;
}
.left30 {
  &::before {
    left: 30px;
  }
}
.right30 {
  &::before {
    right: 30px;
  }
}

.tri--up {
  &::after {
    @include tri_icon();
  }
}
.tri--down {
  &::after {
    @include tri_icon();
    border-top-color: transparent;
    border-left-color: transparent;
    border-bottom-color: #4a90e2;
    border-right-color: #4a90e2;
    z-index: 99;
  }
}
